<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: #5B85AA;}
h1   {color: #ffffff;}
h1 {font-family: Georgia, 'Times New Roman', Times, serif;}
h3 {color: #ffffff}
a {color: #ffffff}
a {font-family: Georgia, 'Times New Roman', Times, serif;}
input {color-scheme: #F46036, black}
input.submit {color: black;}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>
<body>


    <h1>Bruk følgende lenker: </h1> 


    <h3> </h3>
    <a href="http://127.0.0.1:8000/cars/"> Check our car pool </a>
    
    
    <h3> </h3>
    <a href="http://127.0.0.1:8000/save_car/"> Register a car </a>
    
    
    <h3> </h3>
    <a href="http://127.0.0.1:8000/update_car/"> Update car attributes </a>
    
    
    <h3> </h3>
    <a href="http://127.0.0.1:8000/delete_car/"> Delete car from car pool </a>

    <h3> </h3>
    

    <a href="http://127.0.0.1:8000/customers/" class="btn btn-primary">Check out our customers</a>

</body>
</html>

